.card{
    position: relative;
}

.product__image-card{
    /* width: 200px;
    height: 200px; */
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: flex-end;
}

.product__card{
    height: 330px;
}

.product__image{
    width: 200px;
    height: 200px;
    object-fit: cover;
    overflow: hidden;
}

.product__text{
    display: table;
}

.product__text--title{
    font-size: 2rem;
    font-weight: 500;
}

.product__text--desc{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}