.group-list {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    margin: 3rem 0;
}

.group-list li{
    padding: 5px 40px;
    border-radius: 7px;
    color: #000;
    font-size: 1.2rem;
    background-color: rgba(116, 190, 211, 0.678);
}

.group-list li a{
    display: inline;
    text-decoration: none;
}

.group-list li a:visited{
    color: rgb(61, 57, 57);
}